{
  "extends": "react-app",
  "rules": {
    "import/no-internal-modules": [
      "error",
      {
        "forbid": [
          "components",
          "models",
          "modules",
          "store",
          "components/*/**",
          "models/*/**",
          "modules/*/**",
          "store/*/**",
          "utils/*/**",
          "service/**"
        ]
      }
    ]
  }
}