{
  "extends": "../../.eslintrc",
  "rules": {
    "no-restricted-imports": [
      "error",
      {
        "patterns": [
          "pages/**",
          "!pages/path",
          "!./**"
        ]
      }
    ]
  }
}