{
  "extends": "../../.eslintrc",
  "rules": {
    "no-restricted-imports": [
      "error",
      {
        "patterns": [
          "components/**",
          "models/**",
          "store/**",
          "pages",
          "pages/**",
          "service",
          "!./**"
        ]
      }
    ]
  }
}