.App::before {
  position: fixed;
}
.App > .Loader-spinner {
  position: fixed;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.reverse > .dropdown-menu[data-bs-popper] {
  top: auto;
  bottom: 100%;
  left: 0;
  margin-bottom: var(--bs-dropdown-spacer);
}

.input-group.collapsed {
  width: 40px;
}

.input-group.collapsed input {
  width: 0;
  padding-left: 0;
  padding-right: 0;
}

.container {
  max-width: 600px !important;
}

.form-group {
  position: relative;
}

.form-group > .form-control::placeholder {
  opacity: 0;
  transition: all ease-out 0.2s;
}
.form-group > .form-control:focus::placeholder {
  opacity: 1;
}

.form-group > .form-control + .form-label {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.25rem;
  transition: all ease-out 0.2s;
  border-radius: 4px;
  line-height: 1;
}

.form-group > .form-control:focus + .form-label,
.form-group > .form-control:not(:placeholder-shown) + .form-label {
  top: -3px;
  transform: translateY(-50%) scale(0.95);
  background-color: #fff;
}
